<h1>Listing cellars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Private</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cellars.each do |cellar| %>
  <tr>
    <td><%= cellar.name %></td>
    <td><%= cellar.location %></td>
    <td><%= cellar.private %></td>
    <td><%= link_to 'Show', cellar %></td>
    <td><%= link_to 'Edit', edit_cellar_path(cellar) %></td>
    <td><%= link_to 'Destroy', cellar, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cellar', new_cellar_path %>
