<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @offering.name %>
</p>

<p>
  <b>Producer:</b>
  <%= @offering.producer_id %>
</p>

<p>
  <b>Color:</b>
  <%= @offering.color_id %>
</p>

<p>
  <b>Description:</b>
  <%= @offering.description %>
</p>


<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>
