<%= form_for(@composition) do |f| %>
  <% if @composition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@composition.errors.count, "error") %> prohibited this composition from being saved:</h2>

      <ul>
      <% @composition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grape_id %><br />
    <%= f.collection_select(:grape_id, Grape.all, :id, :common_name) %>
  </div>
  <div class="field">
    <%= f.label :offering_id %><br />
    <%= f.collection_select(:offering_id, Offering.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
