<h1>Listing compositions</h1>

<table>
  <tr>
    <th>Grape</th>
    <th>Offering</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @compositions.each do |composition| %>
  <tr>
    <td><%= composition.grape.common_name %></td>
    <td><%= composition.offering.name %></td>
    <td><%= link_to 'Show', composition %></td>
    <td><%= link_to 'Edit', edit_composition_path(composition) %></td>
    <td><%= link_to 'Destroy', composition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Composition', new_composition_path %>
